<h1>Welcome <%= @user.username %></h1>
<a href="/logout" data-method="delete">Log Out</a>
<h3>Post a Message</h3>
<form action="/messages" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <textarea name="content" rows="8" cols="80"></textarea>
  <input type="submit" value="Post a Message">
</form>
<% if flash[:notice] %>
  <% flash[:notice].each do |note| %>
    <p><%= note %></p>
  <% end %>
<% end %>
<% if @messages %>
  <div class="messages">
    <% @messages.each do |message| %>
      <div class="message">
        <p><%= message.user.username %> <%= message.created_at %></p>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
<% end %>
